<html>
    <head>
        <title>Excel car parser</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="loginPage">
            <form action="/login" method="post" class="login-form">
                <h2>Вход в админ панель</h2>
                <input type="text" placeholder="Логин" name="username">
                <input type="password" placeholder="Пароль" name="password">
                <br>
                <input type="submit">
            </form>
        </div>
    </body>
</html>