*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
body{
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.loginPage{
    width: 100%;
    height: 100%;
    background-color: #3cc1ff;
}
.loginPage > form{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    background-color: white;
    position: relative;
    top: 30%;
    padding: 15px 0px;
    border-radius: 15px;
    box-sizing: border-box;
}
.loginPage > form > h2{
    font-size: 1.2em;
}
.loginPage > form > input[type="text"], .loginPage > form > input[type="password"]{
    width: 250px;
    padding: 5px;
    font-size: 1.05em;
    outline: none;
    border: solid 2px #b9b9b9;
    border-radius: 10px;
    margin-top: 5px;
    transition: .3s;
}
.loginPage > form > input[type="text"]:focus{
    border: solid 2px #585858;
}

.loginPage > form > input[type="password"]:focus{
    border: solid 2px #585858;
}

.loginPage > form > input[type="submit"]{
    width: 150px;
    padding: 5px;
    font-size: 1.05em;
    font-weight: 600;
    outline: none;
    background-color: #3cc1ff;
    border: solid 2px #3cc1ff;
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: .3s;
}
.loginPage > form > input[type="submit"]:hover{
    background-color: white;
    color: #3cc1ff;
}

#newFile{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}
#newFile > form{
    margin: 0 auto;
    text-align: center;
    position: relative;
    top: 35%;
}
#newFile > form > input[type="file"]{
    background-color: #00d400;
    color: white;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s;
}
#newFile > form > input[type="submit"]{
    background-color: #00d400;
    border: solid 2px #00d400;
    color: white;
    font-size: 1.1em;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    transition: .3s;
}
#newFile > form > input[type="submit"]:hover{
    background-color: white;
    color: #00d400;
}